jetty.http.port=4901

jdbc.setupNewDb=true
jdbc.useEmbedded=true

#jdbc.driverClassName=org.hsqldb.jdbc.JDBCDriver
#jdbc.url=jdbc:hsqldb:file:db/hsqldb/ValueReporter
jdbc.url=jdbc:mysql://localhost:3306/ValueReporter?useUnicode=true&useJDBCCompliantTimezoneShift=true&useLegacyDatetimeCode=false&serverTimezone=UTC
jdbc.driverClassName=com.mysql.jdbc.Driver
jdbc.username=vr
jdbc.password=vr1234
admin.connection.username=vrAdmin
admin.connection.port=1433
admin.connection.password=vrAdmin1234
admin.connection.host=localhost
admin.connection.databasename=ValueReporter

